<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>

    <body style="display: none">
        <!-- BEGIN: Root Layout -->
        <div class="layout">
            <!-- BEGIN: Sidebar -->
            <nav class="sidebar">
                <%- include('partials/logo') %>
                    <%- include('partials/sidebar-left') %> <!-- Sidebar Scroll -->
            </nav>
            <!-- End: Sidebar -->
            <!-- BEGIN: Wrapper Main -->
            <div class="wrapper">
                <header class="navbar">
                    <div class="navbar__left lg:hidden">
                        <a href="javascript:;" class="navbar__icon-link" data-drawer-toggle>
                            <i data-icon="heroiconsOutline__menuAlt1"></i>
                        </a>
                    </div>
                    <!-- <div class="navbar__left bottombar bookmark" id="bookmark"></div> -->
                    <div class="navbar__center"></div>
                    <div class="navbar__right">
                        <%- include('partials/message-notifications-menu') %> <!-- Messages Dropdown Wrapper -->
                            <%- include('partials/notifications-menu') %> <!-- Notifications Dropdown Wrapper -->
                                <%- include('partials/account-menu') %> <!-- Account Menu -->
                    </div>
                </header>
                <main class="main">
                    <section id="contentscroll" aria-labelledby="contentscroll-tab"
                        class="page main__full flex flex-col">
                        <header class="page__header">
                            <div class="flex flex-col">
                                <%- include('partials/breadcrumb') %>
                                    <div class="flex justify-between">
                                        <div class="page__title flex-1">
                                            <h2 class="page__title__text">
                                                <%= title %>
                                            </h2>
                                        </div>
                                        <div>
                                            <a href="javascript:;"
                                                class="button button--icon button--flat scheme-info rounded-full"
                                                data-popover-toggle aria-haspopup="true"
                                            >
                                                <i data-icon="feather__helpCircle"></i>
                                            </a>
                                            <div class="popover">
                                                <div class="popover__content">
                                                    <div class="font-bold mb-2">Ajuda</div>
                                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, eius repellat. Repellat laudantium adipisci perferendis voluptate ex blanditiis sapiente ducimus eius consectetur dolorum delectus quia, alias quo. Eligendi, nisi earum.</p>
                                                </div>
                                            </div>
                                            <button data-col-toggle="contentscrollSidebar"
                                                class="button button--icon button--flat">
                                                <i data-icon="feather__menu"></i>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </header>
                        <div class="page__body flex-1 min-h-0">
                            <div class="card cols h-full">
                                <!-- BEGIN: Main Content -->
                                <div class="cols__main h-full scrollbar" data-scrollbar
                                    data-scrollbar-auto-hide="false">

                                    <form class="card"
                                        id="product"
                                        action="<%= operation === 'edit' ? `/produtos/editar/${product.id}` : '/produtos/cadastrar' %>"
                                        method="POST"
                                    >
                                        <div class="card__header">
                                            <div>
                                                <h3 class="text-xl">Produto</h3>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <!-- Logic -->
                                            <%
                                                let type = 'accompaniment'

                                                if (product.type === 'product' || (typeof params !== 'undefined' && params.type === 'product')) {
                                                    type = 'product'
                                                }

                                                if (product.type === 'additional' || (typeof params !== 'undefined' && params.type === 'additional')) {
                                                    type = 'additional'
                                                }

                                                if (product.type === 'accompaniment' || (typeof params !== 'undefined' && params.type === 'accompaniment')) {
                                                    type = 'accompaniment'
                                                }
                                            %>

                                            <!-- Hidden fields -->
                                            <input type="hidden" id="type" name="type" value="<%= type %>" />

                                            <fieldset class="field">
                                                <label for="name" class="field__label">Nome</label>
                                                <label class="form-control">
                                                    <span class="self-start mt-2"><i data-icon="feather__alignLeft"></i></span>
                                                    <input type="text" id="name" name="name" placeholder="Nome" value="<%= product.name || '' %>" />
                                                </label>
                                            </fieldset>
                                            <fieldset class="field">
                                                <label for="description" class="field__label">Descrição</label>
                                                <label class="form-control">
                                                    <span class="self-start mt-2"><i data-icon="feather__alignLeft"></i></span>
                                                    <textarea id="description" name="description" placeholder="Descrição" rows="4"><%= product.description || '' %></textarea>
                                                </label>
                                            </fieldset>
                                            <fieldset class="field">
                                                <label for="visible" class="field__label">Visibilidade</label>
                                                <div class="form-control">
                                                    <select id="visible" name="status">
                                                        <option>Selecione</option>
                                                        <option value="visible" <%= product.status === 'visible' ? 'selected' : '' %>>Visível</option>
                                                        <option value="invisible" <%= product.status === 'invisible' ? 'selected' : '' %>>Oculto</option>
                                                    </select>
                                                </div>
                                            </fieldset>
                                            <fieldset class="field">
                                                <label for="category" class="field__label">Categoria</label>
                                                <div class="form-control">
                                                    <select id="category" name="categoryId">
                                                        <option value="">Selecione</option>
                                                        <% categories.forEach(function(category) { %>
                                                            <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : '' %>>
                                                                <%= category.name %>
                                                            </option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </fieldset>
                                            <% if (type == 'product' || type == 'additional') { %>
                                                <fieldset class="field">
                                                    <label class="check-control">
                                                        <input id="free" name="free" type="checkbox" <%= product.free ? 'checked' : '' %>>
                                                        <span>Grátis</span>
                                                    </label>
                                                </fieldset>
                                                <fieldset class="field">
                                                    <label for="price" class="field__label">Preço</label>
                                                    <label class="form-control">
                                                        <span class="self-start mt-2">R$</span>
                                                        <input type="text" id="price" name="price" initial-value="<%= product.price || '' %>" value="<%= product.price || '' %>" placeholder="Preço" />
                                                    </label>
                                                </fieldset>
                                            <% } %>
                                            <% if (type == 'product') { %>
                                                <fieldset class="field">
                                                    <label for="maximumQuantity" class="field__label">Máximo de
                                                        Acompanhamentos</label>
                                                    <label class="form-control">
                                                        <input
                                                            type="number"
                                                            min="0"
                                                            id="accompanimentsMax"
                                                            name="accompanimentsMax"
                                                            value="<%= product.accompanimentsMax || '0' %>"
                                                            placeholder=""
                                                        />
                                                    </label>
                                                </fieldset>
                                                <fieldset class="field">
                                                    <label for="visible" class="field__label">Acompanhamentos</label>
                                                    <select data-select data-select-placeholder="Selecione" name="accompaniments" multiple>
                                                        <option value="">Selecione</option>
                                                        <% accompaniments.forEach(function(accompaniment) { %>
                                                            <option value="<%= accompaniment.id %>"><%= accompaniment.name %></option>
                                                        <% }) %>
                                                    </select>
                                                </fieldset>
                                                <fieldset class="field">
                                                    <label for="maximumQuantity" class="field__label">Máximo de
                                                        Adicionais</label>
                                                    <label class="form-control">
                                                        <input type="number" min="0" id="additionalsMax" name="additionalsMax" value="<%= product.accompanimentsMax || '0' %>"
                                                            placeholder="" />
                                                    </label>
                                                </fieldset>
                                                <fieldset class="field">
                                                    <label for="visible" class="field__label">Adicionais</label>
                                                    <select data-select data-select-placeholder="Selecione" name="additionals" multiple>
                                                        <option value="">Selecione</option>
                                                        <% additionals.forEach(function(additional) { %>
                                                            <option value="<%= additional.id %>"><%= additional.name %></option>
                                                        <% }) %>
                                                    </select>
                                                </fieldset>
                                            <% } %>
                                        </div>
                                        <div class="card__divider"></div>
                                        <div class="card__footer gap-5">
                                            <button type="button" class="button button--flat button--soft">Cancelar</button>
                                            <button type="submit" class="button scheme-primary">
                                                <%= operation==='edit' ? 'Editar' : 'Salvar' %>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- END: Main Content -->
                                <!-- BEGIN: Sidebar -->
                                <aside id="contentscrollSidebar"
                                    class="col lg:col--relative col-w-80 lg:col--expanded h-full">
                                    <div class="col__inner card rounded-none h-full scrollbar" data-scrollbar
                                        data-scrollbar-auto-hide="false">
                                        <div class="card__header text-2xl">
                                            Acesso Rápido
                                        </div>
                                        <div class="card__body">
                                            <form id="category" method="post" class="flex flex-col gap-4 py-4">
                                                <div class="text-xl flex">
                                                    Cadastrar Categoria
                                                </div>
                                                <div class="">
                                                    <fieldset class="field">
                                                        <label class="form-control">
                                                            <input type="text" placeholder="Nome" />
                                                        </label>
                                                    </fieldset>
                                                    <fieldset class="field">
                                                        <label class="form-control">
                                                            <span data-textarea-grow="">
                                                                <textarea id="description" placeholder="Descriçao" rows="4"></textarea>
                                                            </span>
                                                        </label>
                                                    </fieldset>
                                                    <div class="form-control">
                                                        <select data-select data-select-placeholder="Visibilidade">
                                                            <option value="">Visibilidade</option>
                                                            <option>Visível</option>
                                                            <option>Oculta</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="flex justify-between gap-5">
                                                    <a href="/#" class="button button--flat button--soft">
                                                        Cancelar
                                                    </a>
                                                    <button type="submit" class="button scheme-primary">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </aside>
                                <!-- END: Sidebar -->
                            </div>
                        </div>
                    </section>
                </main>
                <%- include('partials/footer') %>
            </div>
            <!-- END: Wrapper Main -->
        </div>
        <!--END: Root Layout -->
    </body>

    <script src="/js/products-main.js"></script>

</html>
