<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/header') %>

    <body style="display: none">
        <!-- BEGIN: Root Layout -->
        <div class="layout">
            <!-- BEGIN: Sidebar -->
            <nav class="sidebar">
                <%- include('partials/logo') %>
                    <%- include('partials/sidebar-left') %> <!-- Sidebar Scroll -->
            </nav>
            <!-- End: Sidebar -->
            <!-- BEGIN: Wrapper Main -->
            <div class="wrapper">
                <header class="navbar">
                    <div class="navbar__left lg:hidden">
                        <a href="javascript:;" class="navbar__icon-link" data-drawer-toggle>
                            <i data-icon="heroiconsOutline__menuAlt1"></i>
                        </a>
                    </div>
                    <!-- <div class="navbar__left bottombar bookmark" id="bookmark"></div> -->
                    <div class="navbar__center"></div>
                    <div class="navbar__right">
                        <%- include('partials/message-notifications-menu') %> <!-- Messages Dropdown Wrapper -->
                            <%- include('partials/notifications-menu') %> <!-- Notifications Dropdown Wrapper -->
                                <%- include('partials/account-menu') %> <!-- Account Menu -->
                    </div>
                </header>
                <main class="main">
                    <section id="pagescroll" aria-labelledby="pagescroll-tab" class="main__full scrollbar"
                        data-scrollbar data-scrollbar-auto-hide="false">
                        <!-- BEGIN: Page Header -->
                        <header class="page__header flex items-end justify-between">
                            <div>
                                <%- include('partials/breadcrumb') %>
                                <div class="page__title">
                                    <h1 class="page__title__text text-3xl">Produtos</h1>
                                </div>
                            </div>
                            <div class="button-group">
                                <a href="produtos/cadastrar?type=product" type="button" class="button scheme-primary" data-tooltip="Cadastrar Produto">
                                    <span>Cadastrar</span>
                                </a>
                                <button type="button" data-dropdown-toggle="#splitButtonDropdown" data-tippy-placement="bottom-end" aria-haspopup="true" class="button button--icon scheme-primary">
                                    <i data-icon="feather__chevronDown" class="transform transition"></i>
                                </button>
                            </div>
                            <ul id="splitButtonDropdown" class="dropdown">
                                <li class="dropdown__item"><a href="produtos/cadastrar?type=product">Produto</a></li>
                                <li class="dropdown__item"><a href="produtos/cadastrar?type=accompaniment">Acompanhamento</a></li>
                                <li class="dropdown__item"><a href="produtos/cadastrar?type=additional">Adicional</a></li>
                            </ul>
                        </header>
                        <!-- END: Page Header -->
                        <!-- BEGIN: Page Body -->
                        <div class="page__body">
                            <div class="flex flex-col gap-5 mb-4">
                                <div class="card">
                                    <div class="card__header">
                                        <div>
                                            <h3 class="text-xl">Filtro</h3>
                                        </div>
                                        <div>
                                            <% if (Object.keys(filters).length > 0) { %>
                                                <a href="/produtos" class="button button--xs button--outline button--icon scheme-danger" data-tooltip="Limpar filtros">
                                                    <i data-icon="feather__x"></i>
                                                </a>
                                            <% } %>
                                            <button type="button" class="button button--xs button--outline button--icon"
                                                data-collapse-toggle="#advancedFilterTarget"
                                                aria-expanded="false"
                                                data-tooltip="Filtro Avançado" >
                                                <i data-icon="ionicons__settingsSharp"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <form action="/produtos" method="get">
                                        <div class="card__body">
                                            <div class="grid grid-cols-1 mb-5">
                                                <fieldset class="field">
                                                    <div class="input-group">
                                                        <div class="flex-1 form-control scheme-gray">
                                                            <input type="text" name="term" value="<%= filters.term %>" placeholder="Buscar...">
                                                        </div>
                                                        <div class="form-control [.input-group>&]:flex-initial scheme-gray">
                                                            <select name="field">
                                                                <option value="name" <%= filters.field == 'name' ? 'selected' : '' %>>Nome</option>
                                                                <option value="description" <%= filters.field == 'description' ? 'selected' : '' %>>Descrição</option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" id="search" class="button button--icon button--solid button--md scheme-primary">
                                                            <i data-icon="feather__search"></i>
                                                            <i class="loader loader--05 mr-2"
                                                                style="display: none;"></i>
                                                        </button>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="card__divider"></div>
                                        <div id="advancedFilterTarget" class="collapse">
                                            <div class="card__header">
                                                <div>
                                                    <h3 class="text-xl">Avançado</h3>
                                                </div>
                                                <a href="javascript:;"
                                                    class="button button--icon button--flat scheme-info rounded-full">
                                                    <i data-icon="feather__helpCircle"></i>
                                                </a>
                                            </div>
                                            <div class="card__body">
                                                <div class="grid md:grid-cols-2 gap-5 mb5">
                                                    <fieldset class="field">
                                                        <label for="type" class="field__label">Tipo</label>
                                                        <div class="flex-1 form-control scheme-gray">
                                                            <select name="type">
                                                                <option value="products" <%= filters.type == 'products' ? 'selected' : '' %>>Produtos</option>
                                                                <option value="accompaniments" <%= filters.type == 'accompaniments' ? 'selected' : '' %>>Acompanhamentos</option>
                                                                <option value="addictionals" <%= filters.type == 'addictionals' ? 'selected' : '' %>>Adicionais</option>
                                                            </select>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="field">
                                                        <label for="visibility" class="field__label">Status</label>
                                                        <div class="flex-1 form-control scheme-gray">
                                                            <select name="status">
                                                                <option value="visible" <%= filters.status == 'visible' ? 'selected' : '' %>>Visível</option>
                                                                <option value="invisible" <%= filters.status == 'invisible' ? 'selected' : '' %>>Oculto</option>
                                                                <option value="deleted" <%= filters.status == 'deleted' ? 'selected' : '' %>>Excluído</option>
                                                            </select>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="field">
                                                        <label for="visibility" class="field__label">Categorias</label>
                                                        <div class="flex-1 form-control scheme-gray">
                                                            <select name="category">
                                                                <option value="all" <%= filters.category == 'all' ? 'selected' : '' %>>Todas</option>
                                                                <% categories.forEach(function(category) { %>
                                                                    <option value="<%= category.id %>" <%= filters.category == category.id ? 'selected' : '' %>>
                                                                        <%= category.name %>
                                                                    </option>
                                                                <% }); %>
                                                            </select>
                                                        </div>
                                                    </fieldset>
                                                    <!-- <fieldset class="field">
                                                        <label for="visibility" class="field__label">Quantidade</label>
                                                        <div class="input-group">
                                                            <div
                                                                class="form-control [.input-group>&]:flex-initial scheme-gray">
                                                                <select>
                                                                    <option value="">Maior que</option>
                                                                    <option value="agriculture">Igual a</option>
                                                                    <option value="electronics">Menor que</option>
                                                                </select>
                                                            </div>
                                                            <div class="flex-1 form-control scheme-gray">
                                                                <input type="text" placeholder="">
                                                            </div>
                                                        </div>
                                                    </fieldset> -->
                                                </div>
                                                <div class="flex gap-5 justify-end">
                                                    <a href="/produtos"
                                                        class="button button--solid button--md scheme-black">
                                                        Limpar Filtros
                                                    </a>
                                                    <button type="submit"
                                                        class="button button--solid button--md scheme-primary">
                                                        Buscar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table card [&>tbody>tr:hover]:bg-yellow-100">
                                <thead>
                                    <tr class="table-row">
                                        <th class="table-cell">#</th>
                                        <th class="table-cell">Produto</th>
                                        <th class="table-cell">Categoria</th>
                                        <th class="table-cell">Status</th>
                                        <th class="table-cell">Preço</th>
                                        <th class="table-cell" data-tooltip="Quantidade">Qtd</th>
                                        <th class="table-cell">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(function(product) { %>
                                        <!-- <td class="table-cell" style="order: 2;">Coluna 1</td> -->
                                        <!-- <td class="table-cell" style="order: 1;">Coluna 2</td> -->
                                        <tr class="table-row" data-id="<%= product.id %>">
                                            <td class="table-cell">
                                                <%= product.id %>
                                            </td>
                                            <td class="table-cell id">
                                                <%= product.name %>
                                            </td>
                                            <td class="table-cell name">
                                                <%= product.category.name %>
                                            </td>
                                            <td class="table-cell status">
                                                <%= product.status %>
                                            </td>
                                            <td class="table-cell">
                                                <%= product.price %>
                                            </td>
                                            <td class="table-cell">
                                                <%= product.quantity %>
                                            </td>
                                            <td class="acoes">
                                                <%- include('partials/products-dropdown', {product}) %>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <!-- END: Page Body -->
                    </section>
                </main>
                <%- include('partials/footer') %>
            </div>
            <!-- END: Wrapper Main -->
        </div>
        <!--END: Root Layout -->

        <%- include('partials/window-confirmation') %>
    </body>

    <script src="/js/products-list.js"></script>

</html>
